@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    background: url("https://img.freepik.com/premium-vector/health-care-abstract-geometric-medical-background-with-icons-concept-idea-healthcare-technology-innovation-medicine-healthcare-science-vector-design_258787-6237.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
}